<!DOCTYPE html>
<html lang="{{ lang | default('es') }}">
<head>
  <meta charset="UTF-8" />
  <title>
  {% if title %}
    {{ title }} | PictoNet
  {% else %}
    PictoNet
  {% endif %}
</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Aquí enlazas tu CSS compilado -->
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

</head>
<body class="light-mode">

{% include "header.njk" %}
{% include "nav.njk" %}


  <main>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  <!-- Script principal -->
  <script src="{{ '/js/pictonet.js' | url }}"></script>
</body>
</html>
