<nav>
  <ul>
    <li><a href="{{ '/' | url }}">Inicio</a></li>
    <li><a href="{{ '/about/' | url }}">Acerca</a></li>
    <li><a href="{{ '/team/' | url }}">Equipo</a></li>
    <li><a href="{{ '/svg-editor/' | url }}">Editor</a></li> 
  </ul>
</nav>
