<nav>
  <ul>
    <li><a href="#vision">Visión</a></li>
    <li><a href="#human-loop">Learn</a></li>
    <li><a href="#repositorios">Pictionaries</a></li>
    <li><a href="#localizaciones">Localizaciones</a></li>
    <li><a href="#colaboracion">Contribuir</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>
</nav>
