<nav>
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/about/">Acerca de</a></li>
    <li><a href="/team/">Equipo</a></li>
    <li><a href="/svg-editor/">Editor SVG</a></li>
  </ul>
</nav>
